input{
    border-radius: 25px;
    width: 200px;
    height: 30px;
    margin: 10px;
}
#main{
    width:300px;
    background-color:black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius:25px;
}
button{
    width: 30px;
    background-color:black;
    border: none;
    font-size: large;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
#green button,#green{
    color: green;
}